
$blue: #457b8c;
$gray: #f0f0f0;
$red: #ce4034;
$green: #08b8b8;
$primary-font-color: #798796;
$secondary-font-color: #595556;

$primary-font: 'PT Sans';
$secondary-font: 'Oswald';

h1 {font-family: $secondary-font; text-transform: uppercase; color: $primary-font-color; font-size: 2.5rem;}
h5 {font-family: $secondary-font; text-transform: uppercase; color: $primary-font-color; font-size: 1.563rem;}

.fullwidth {max-width: 90%; height: 50%;}
.col-lg-5{
  padding-right: 0px;
  padding-left: 0px;
}

.-spacing {
  &-a {
    margin-top: 3.125rem;
  }
  &-b {
    margin-top: 1.875rem;
  }
}
.body{overflow: scroll;}
.-typo {
  &-copy {
    margin-bottom: 1.875rem;
    color: $secondary-font-color;
    font-size: 1rem;
    font-family: $primary-font;
    
    &--blue {color: $primary-font-color;}
  }
}

.profile-image {
  overflow: hidden;
  
  &:hover {
    .edit-profile-image {
      opacity: 1;
    }
  }
}

.edit-profile-image {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.9375rem;
  right: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  cursor: pointer;
  opacity: 0;
  background: -moz-linear-gradient(top, rgba(231,211,116,0.7) 0%, rgba(8,184,184,0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(231,211,116,0.7) 0%,rgba(8,184,184,0.7) 100%);
  background: linear-gradient(to bottom, rgba(231,211,116,0.7) 0%,rgba(8,184,184,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3e7d374', endColorstr='#b308b8b8',GradientType=0 );
  transition: all 0.2s ease-in-out;
  
  
  &__information {
    color: #FFF;
    font-size: 1.125rem;
  }
  
  &__label {
    margin-left: 0.5rem;
    display: inline-block;
    font-family: $primary-font;
  }
}

#exampleModal {
  z-index: 6;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.form-row > .col, .form-row > [class*="col-"] {
  margin-bottom: 15px;
}
