<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>BOUH !</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark  transparent">
        <div class="container">
          <a class="navbar-brand" >BOUH !</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTransparentContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center justify-content-end" id="navbarTransparentContent">
            <ul class="navbar-nav">
              <li class="nav-item mx-1">
                <a routerLinkActive="active" class="nav-link align-items-center d-flex" routerLink="#"> ACCUEIL</a>
              </li>
              <li class="nav-item mx-1">
                <a class="nav-link align-items-center d-flex" routerLink="/espacePersonnel"> ESPACE PERSO</a>
              </li>
              <li class="nav-item mx-1">
                <a  class="nav-link align-items-center d-flex" *ngIf="id_typeUtilisateur === 1" routerLink="/back-end">BACK END</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <div id="twitch">  
        <div>Horror<span>Game</span></div>
        <div><span>Created</span> By </div>
        <div>Quentin TOUILLON<span>and</span></div>
        <div>Nicolas Peyrachon<span>creepy</span></div>
        <div>coming soon</div>
        </div>
      <div class="parallax">
    
    <div class="parallax__layer parallax__layer__0">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true" />
    </div>
    <div class="parallax__layer parallax__layer__1">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true" />
    </div>
    <div class="parallax__layer parallax__layer__2">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true" />
    </div>
    <div class="parallax__layer parallax__layer__3">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true" />
    </div>
    <div class="parallax__layer parallax__layer__4">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true" />
    </div>
    <div class="parallax__layer parallax__layer__5">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true" />
    </div>
    <div class="parallax__layer parallax__layer__6">
        <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true" />
    </div>
 
    <div class="parallax__cover">    </div>
    
        <div class="parallax__cover1 ">    
                <section class="case-study">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <h4 class="sub-heading">Presentation</h4>
                              <h1 class="heading purple"><span class="purple">B</span>ouh !</h1>
                              <!-- Swiper -->
                              <div class="swiper-container client-swiper">
                                <div class="swiper-wrapper ">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error alias quas eum iste, 
                                  ratione molestias quod? Accusantium ad aperiam facere numquam non placeat error, natus 
                                  vitae maiores deserunt repellendus autem?</p>
                                </div>
                                
                              </div>
                  
                            </div>
                          </div>
                        </div>
                      </section>   

            </div>
     
<div class="parallax__footer"> 
 <!-- Contact Banner -->
<section class="contact-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>BOUH !</h1>
              <a href="" class="btn btn-lg btn-primary">Telechargement</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer>
        <div class="container-fluid">
          <div class="row footer">
            <div class="col-md-12 text-center">
              <h1>Quentin<span>Touillon ||</span> Nicolas<span>Peyrachon</span></h1>
            </div>
          </div>

        </div>
      </footer>
</div>
</div>


<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>